@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Terms Page";
}


<div class="text-center">
    <h1 class="display-4">Terms & Conditions</h1>
    <p>
        By accessing or using our website, you agree to be bound by these Terms and Conditions. Please read these Terms carefully before accessing or using our website. Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users, and others who access or use the Service. By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms, then you may not access the Service.
    </p>
</div>